# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
modules.order
Module.symvers
Mkfile.old
dkms.conf


*.pdb
settings/
Debug/
*.ewp
*.dep
*.eww
*.ewd
Libraries/
Debug/
.settings/
Utilities/
*.ld
*.project
*.cproject
STM32F4-Discovery_FW_V1.1.0/

*.elf.launch

*.zip
/en.stms-stm32068
*.doc
*.docx